# =========================
# Environment
# =========================
.env.local
.env
.env.*

# =========================
# Node
# =========================
node_modules/
dist/
coverage/

# Convex
src/convex/_generated/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db